# build directories
build/
bin/
obj/
*.exe
*.lib
*.pdb
*.ilk

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# vscode settings
.vscode/

# logs and temp files
*.log
*.tmp

# whatever
imgui.ini

# assets folder bcus i cant commit all that to the repo
assets/